## Trying the 4 steps algorithm 
- step 1: no code
- step 2: Calculate all the rates of change for every pair xj{ti}, xj{ti+1}, and find number of day kj when for the first time rate appears to be larger than 20% of the mean value of previous initial rates (that are always small in our time series).
- step 3: For all time series xj{ti} keep terms from i=k...m where k minimum of all kj.
- step 4: Run the agglomerative clustering algorithm with single/complete linkage and Eu-
clidean distance.

### Step 1: Flattening Regime calculation

In [ ]:
def new_cases(data):
    df_new_cases = data.copy()
    df_new_cases[1:] -= np.array(data[:-1])
    return df_new_cases

In [ ]:
new_cases_1date = new_cases(data_1date)
new_cases_2date = new_cases(data_2date)
new_cases_5date = new_cases(data_5date)

new_cases_1day = new_cases(data_1day)
new_cases_2day = new_cases(data_2day)
new_cases_5day = new_cases(data_5day)

In [ ]:
def cut_flattening(data):
    data = new_cases(data)
    flattening_detector = lambda df: df.iloc[:5].mean() > df.iloc[5:].mean() 
    temp = data.rolling(window=10, center=True).apply(flattening_detector)
    data[temp > 0] = pd.NA
    return data

In [ ]:
cutted_1date = cut_flattening(data_1date)
cutted_2date = cut_flattening(data_2date)
cutted_5date = cut_flattening(data_5date)

cutted_1day = cut_flattening(data_1day)
cutted_2day = cut_flattening(data_2day)
cutted_5day = cut_flattening(data_5day)

### Step 2

In [ ]:
data_1day_pct_change = data_1day.pct_change().iloc[1:]
data_1day_pct_change

,US,"Korea, South",China,Taiwan*,Thailand,Japan,Vietnam,Singapore,France,Nepal,...,Anguilla-UK,British Virgin Islands-UK,Turks and Caicos Islands-UK,MS Zaandam,Botswana,Burundi,Sierra Leone,"Bonaire, Sint Eustatius and Saba-Netherlands",Malawi,Falkland Islands (Islas Malvinas)-UK
Day,,,,,,,,,,,,,,,,,,,,,
2,0.000000,0.000000,0.173358,0.000000,0.500000,0.000000,0.000000,2.000000,0.500000,0.0,...,0.0,0.0,0.000000,0.0,0.333333,0.0,1.0,0.0,0.000000,0.0
3,1.000000,1.000000,0.430793,2.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.250000,0.0,0.000000,0.5,0.0,0.0,0.333333,0.0
4,0.000000,0.000000,0.528261,0.000000,0.400000,0.000000,0.000000,0.333333,0.000000,0.0,...,0.0,0.5,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
5,1.500000,0.500000,0.475818,0.333333,0.142857,1.000000,0.000000,0.250000,0.333333,0.0,...,0.0,0.0,0.200000,3.5,0.000000,0.0,1.0,0.0,0.000000,0.0
6,0.000000,0.333333,0.386506,0.250000,0.000000,0.000000,0.000000,0.400000,0.250000,0.0,...,0.5,0.0,-0.166667,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,0.162941,0.012939,0.000985,0.052288,0.083333,0.046624,0.028302,0.079914,0.037130,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
71,0.133920,0.010321,0.000997,0.021739,0.072683,0.115207,0.068807,0.049000,0.088537,0.5,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
72,0.140979,0.009002,0.000862,0.030395,0.058724,0.145546,0.017167,0.061964,0.398132,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
73,0.131989,0.008621,0.000958,0.026549,0.054933,0.048898,0.012658,0.067325,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0
74,0.120703,0.009342,0.000388,0.020115,0.044995,0.199465,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0

In [ ]:
data_1day_pct_change_accumulative_avg = data_1day_pct_change.expanding().mean()
data_1day_pct_change_accumulative_avg.head(5)

,US,"Korea, South",China,Taiwan*,Thailand,Japan,Vietnam,Singapore,France,Nepal,...,Anguilla-UK,British Virgin Islands-UK,Turks and Caicos Islands-UK,MS Zaandam,Botswana,Burundi,Sierra Leone,"Bonaire, Sint Eustatius and Saba-Netherlands",Malawi,Falkland Islands (Islas Malvinas)-UK
Day,,,,,,,,,,,,,,,,,,,,,
2,0.000000,0.000000,0.173358,0.000000,0.500000,0.00,0.0,2.000000,0.500000,0.0,...,0.0,0.000000,0.000000,0.000,0.333333,0.000000,1.000000,0.0,0.000000,0.0
3,0.500000,0.500000,0.302075,1.000000,0.583333,0.00,0.0,1.000000,0.250000,0.0,...,0.0,0.000000,0.125000,0.000,0.166667,0.250000,0.500000,0.0,0.166667,0.0
4,0.333333,0.333333,0.377471,0.666667,0.522222,0.00,0.0,0.777778,0.166667,0.0,...,0.0,0.166667,0.083333,0.000,0.111111,0.166667,0.333333,0.0,0.111111,0.0
5,0.625000,0.375000,0.402057,0.583333,0.427381,0.25,0.0,0.645833,0.208333,0.0,...,0.0,0.125000,0.112500,0.875,0.083333,0.125000,0.500000,0.0,0.083333,0.0
6,0.500000,0.366667,0.398947,0.516667,0.341905,0.20,0.0,0.596667,0.216667,0.0,...,0.1,0.100000,0.056667,0.700,0.066667,0.100000,0.400000,0.0,0.066667,0.0

In [ ]:
data_1day_pct_change > data_1day_pct_change_accumulative_avg * 0.2

,US,"Korea, South",China,Taiwan*,Thailand,Japan,Vietnam,Singapore,France,Nepal,...,Anguilla-UK,British Virgin Islands-UK,Turks and Caicos Islands-UK,MS Zaandam,Botswana,Burundi,Sierra Leone,"Bonaire, Sint Eustatius and Saba-Netherlands",Malawi,Falkland Islands (Islas Malvinas)-UK
Day,,,,,,,,,,,,,,,,,,,,,
2,False,False,True,False,True,False,False,True,True,False,...,False,False,False,False,True,False,True,False,False,False
3,True,True,True,True,True,False,False,False,False,False,...,False,False,True,False,False,True,False,False,True,False
4,False,False,True,False,True,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,False
5,True,True,True,True,True,True,False,True,True,False,...,False,False,True,True,False,False,True,False,False,False
6,False,True,True,True,False,False,False,True,True,False,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,True,False,False,True,True,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
71,True,False,False,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
72,True,False,False,True,True,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
73,True,False,False,True,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
74,True,False,False,True,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
len(data_1day.columns)

207